body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #333;
}
h1 {
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 20px;
	margin: 0;
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 20px;
	color: #666;
}
h3 {
	font-size: 16px;
	font-weight: 600;
}
h4 {
	color: #666;
	font-size: 20px;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p , li{
	font-family: 'Open Sans', sans-serif;
	color: #888;
	line-height: 24px;
}
a {
	color: #D8960E;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
	list-style: none;
}
hr {
	height: 2px;
	width: 60px;
	background: #D8960E;
	position: relative;
	border: 0;
	margin: 30px 0 0 0;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-size: 22px;
	color: #ddd;
	font-weight: 600;
}
#menu a.navbar-brand i.fa {
	color: #88bb45;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #bbbbbb;
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #D8960E;
}
.on {
	background-color: #222222 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #D8960E !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #D8960E;
	border-color: #D8960E;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	padding-bottom: 50px;
}
/* Home Style */
header {
	background: url(../img/headerNew.jpg) no-repeat bottom center;
	background-size: cover;
	color: #cfcfcf;
	position: relative;
	height: 100%;
}
header p {
	color: rgba(255,255,255,0.5);
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 60px;
	padding: 0 4px;
}
.intro-text {
	position: relative;
	padding-top: 250px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 200px;
}
.intro-text H1 {
	font-size: 60px;
	color: #eeeeee;
	font-weight: 600;
}
.color {
	color: #D8960E;
	font-weight: 700;
}
.btn-default {
	color: #D8960E;
	font-family: 'Open Sans', sans-serif;
	background-color: transparent;
	border: 1px solid #D8960E;
	border-radius: 4px;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #D8960E;
	border: 1px solid #D8960E;
	color: #eeeeee;
}

.btn-primary{
	color: #eAeAeA;
	font-family: 'Open Sans', sans-serif;
	background-color: #D8960E;
	border: 1px solid #D8960E;
	border-radius: 4px;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	background-color: #F8AC10;
	border: 1px solid #F8AC10;
	color: #fff;
}

/* About Section */
#about-section {
	padding: 100px 0;
	background-color: #f6f6f6;
}
#about-section h4 {
	border-bottom: 1px solid #C68A0F;
	padding-bottom: 20px;
	display: inline-block;
}
#about-section p {
	margin-top: 20px;
	margin-bottom: 30px;
}
/* Services Section */
#services-section {
	padding: 100px 0;
}
#services-section h4 {
	border-bottom: 1px solid #C68A0F;
	padding-bottom: 20px;
	display: inline-block;
}
.space {
	margin-top: 40px;
}
#services-section i.fa {
	font-size: 36px;
	margin-right: 20px;
	color: #D8960E;
	padding-bottom: 10px;
	display: block;
}
/* Gallery Section 
==============================*/
#works-section {
	padding: 100px 0;
	background-color: #f6f6f6;
}
.categories {
	padding-bottom: 30px;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	color: #888;
}
ol.type li a.active {
	color: #D8960E;
	border-bottom: 1px solid #C68A0F;
	padding-bottom: 8px;
}
ol.type li a:hover {
	color: #D8960E;
	border-bottom: 1px solid #C68A0F;
	padding-bottom: 8px;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin-bottom: 30px;
}
.portfolio-item .hover-bg {
	height: 200px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding-top: 25%;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	color: #f6f6f6;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* Social Section */
#social-section {
	padding: 5px 0;
	background-color: #E7E6E6;
    text-align: center;
}
/*#social-section .social ul:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}*/
#social-section .social ul{

  line-height: 20px;
}
#social-section .social ul li {
	display: inline-block;
	margin: 0 20px;
	height: 100%;
}
#social-section .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	border-radius: 2px;
	background-color: #D8960E;
	color: #fff;
	transition: all 0.5s;
}
#social-section .social i.fa:hover {
	color: #666;
}
/* Footer */
#footer {
	background-color: #222222;
	color: #777;
	padding: 15px 0 10px 0;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
}
#footer a {
	color: #aaa;
}
#footer a:hover, #footer a:focus {
	text-decoration: none;
	color: #D8960E;
}

@media (max-width: 768px) {
.content {
	padding: 40% 0 0;
}
}

@media (max-width: 603px) {
#menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.7);
}
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 15% 10%;
}
}

.imgKingCrusher{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

